.wrapper {
  margin: 10px auto 20px auto;  
  min-height: 120px;
  overflow-x: hidden;  
  overflow: visible;
  font-family: "Nunito Sans", Helvetica, sans-serif;
}

.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
  background: var(--primaryText);
  border-radius: 10px;
}