.item {
  background-color: var(--playlistBackground);
  color: var(--playlistText);
  text-align: center;
  margin: 5px 0;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;    
}

.active {
  color: var(--playlistTextHoverActive);  
  font-size: 18px;
  box-shadow: 0px 0px 10px #2b36a3;
  border: 2px solid #32376c;
}

.item:hover {
  color: var(--playlistTextHoverActive);
  box-shadow: 0px 0px 10px #2b36a3;
}