.search {
  font-family: 'Quicksand', sans-serif;
  height: 50px;
  border: none;
  font-size: 18px;
  width: 100%;
  margin: 0 auto 10px auto;
  background: var(--searchBackground) url(../icons/search.png) 98% center no-repeat;
  background-size: 20px;
  color: #fff;  
  border-radius: 10px;
  text-align: center;  
  box-shadow: 0px 0px 10px #2b36a3;
  border: 2px solid #32376c;
}

.search:focus{
  outline: none;
}

.search::placeholder {
  color: var(--searchPlaceHolder);
}