.time {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  color: #fff;  
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #242530;
  border-radius: 5px;
  margin-left: 25px;
  min-height: 70px;
}

@media only screen and (max-width: 600px) {
  .time {
    text-align: center;
  }
}