.wrapper {
    display: grid;
    grid-template-columns: auto 190px;
    margin: 20px 0;    
  }

  @media only screen and (max-width: 800px) {
    .wrapper {
      grid-template-columns: 1fr;
    }
  }