/*@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --tagsBackground: #3e32e4;
  --tagsText: #ffffff;
  --tagsBackgroundHoverActive: #6e65f1;
  --tagsTextHoverActive: #ffffff;
  --searchBackground: #18191f;
  --searchText: #ffffff;
  --searchPlaceHolder: #a2a5c5;
  --playerBackground: #18191f;
  --titleColor: #ffffff;
  --timeColor: #a2a5c5;
  --progressSlider: #3e32e4;
  --progressUsed: #ffffff;
  --progressLeft: #151616;
  --bufferLoaded: #1f212b;
  --volumeSlider: #3e32e4;
  --volumeUsed: #ffffff;
  --volumeLeft: #7c80a0;
  --playlistBackground: #18191f;
  --playlistText: #a2a5c5;
  --playlistBackgroundHoverActive: #18191f;
  --playlistTextHoverActive: #ffffff;
}

/************************************************************/



#root{
  padding: 4%;
  background: darkblue url(https://bancomusical.com.br/gbarbosa/images/bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(orientation:landscape){
  .wrapper{
    max-width: 1100px;
    min-width: 1100px;
  }
}

.playerTemplate {
  border-radius: 10px;
  padding: 1vw;
  background-color: var(--playerBackground);
  overflow: auto;  
  font-family: "Nunito Sans", Helvetica, sans-serif;
  display: flex;  
}

.playerControls{
  padding-left: 2vw;
  flex-grow: 1;
}